@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@using TestApp.Models.Api
@model IEnumerable<TeamModel>

<div class="row">
    <div class="col-md-4 pull-right">
        <a class="pull-right" href="New">Add</a>
    </div>
</div>
<table class="table table-hover">
    <thead>
        <tr>
            <th>Name</th>
            <th>Project</th>
            <th>Members</th>
        </tr>
    </thead>
    <tbody>
        @foreach (TeamModel team in Model)
        {
            <tr>
                <td>
                    @team.Name
                </td>
                <td>
                    @if(team.Project != null)
                    {
                        @team.Project.Title
                    }
                </td>
                <td>
                   <p>Manager @Html.Partial("Partials/UserIcon", team.Manager)</p>
                   <p>Frontend @Html.Partial("Partials/UserIcon", team.Manager)</p>
                   <p>Backend @Html.Partial("Partials/UserIcon", team.Manager)</p>
                </td>
            </tr>
        }
    </tbody>
</table>